[submodule "dietcake"]
	path = dietcake
	url = git://github.com/dietcake/dietcake.git
[submodule "vendor/SimpleAmazonDynamoDB"]
	path = vendor/SimpleAmazonDynamoDB
	url = git://github.com/ttsuruoka/php-simple-amazon-dynamodb.git
